footer {
  background-color: black;
  height: auto;
  width: 100vw;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem; }

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px; }

.redes {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0; }

.redes li {
  margin: 0 10px; }

.redes a {
  text-decoration: none;
  color: #fff; }

.redes a i {
  font-size: 1.1rem; }

.redes a:hover i {
  color: aqua; }

.footer-bottom {
  background-color: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center; }

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize; }

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200; }

#localizacion {
  color: yellow;
  font-size: 25px; }

tbody {
  color: blue;
  background-repeat: repeat-x; }
  tbody .colorEncabezadoTabla {
    color: #96120b; }

td {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.imagenheader {
  height: 200px;
  margin: 10px; }

.parrafo {
  border: 4px solid chocolate;
  font-family: sans-serif; }

.productosFlex {
  display: flex;
  justify-content: space-around; }

.logo {
  width: 120px; }

h1 {
  animation-name: desaparecer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px; }

@keyframes desaparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 2; }
  100% {
    opacity: 0; } }

.tabla {
  color: black; }

.tabla__color {
  color: white; }

.color__tabla--modificado {
  color: blue; }

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  padding: 40px;
  font-size: 1.2rem; }

.menu__nav {
  color: #96120b;
  text-decoration: none; }

body {
  background-image: linear-gradient(180deg, #1e130c, #9a8478); }

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both; }

/* ----------------------------------------------
 * Generated by Animista on 2021-7-24 23:27:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.card-body {
  background-color: brown; }

.container-fluid {
  background-color: brown; }

.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: black; }

.color-contacto {
  color: brown; }

.btn {
  background-color: black; }

.video {
  width: 100%; }

.tracking-in-expand-fwd-top {
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

/* ----------------------------------------------
 * Generated by Animista on 2021-7-30 23:53:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 4s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

/* ----------------------------------------------
 * Generated by Animista on 2021-7-31 0:4:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }
